.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  width: 100%;
  justify-content: center;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__heading {
  @include desktop {
    font-size: 28px;
    line-height: 1.1786;
  }
}

.clients__list {  
  width: 100%;
  gap: 30px;
    
  @media screen and (max-width:767px) {
      display: flex;
      flex-wrap: wrap;
    }

    @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  
    @include desktop {
    display: flex;
    align-items: center;    
  }
}

.clients__item {
  @media screen and (max-width:767px) {
    width: calc((100% - 30px) / 2);
  }
  
    @include tablet {
    width: calc((100% - 60px) / 3);
  }
    @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
