/* .............Навігація.............. */
.footer__block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--nav-bg-color);
}

.footer__container {
  display: flex;
  gap: 70px;
}

.footer__navigation {
  width: 231px;
}

.logo .footer__logo,
.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__nav {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__nav:last-child {
  margin-bottom: 0;
}
.addres {
  color: var(--subject-color);
}

/* ..........Соц.мережа.............. */
.footer__socials {
  display: block;
  align-items: center;
}

.footer__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  color: var(--subject-color);
  margin-bottom: 20px;
}

.footer__icon {
  fill: var(--subject-color);
  .footer__link:hover &,
  .footer__link:focus & {
    fill: var(--subject-color);
  }
}

.footer__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}


/* ..........Розсилка.............. */

.footer__newsletter {
  /* display: fixed;
  /* align-items: center; */
  position: relative;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* position: relative; */
}

.footer__input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding-left: 16px;
  &:focus,
  &:hover,
  &:not(:placeholder-shown) {
    border-color: var(--accent-color);
  }
}

.footer__label {
  position: absolute;
  left: 0;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer__input:focus+&,
  .footer__input:hover+&,
  .footer__input:not(:placeholder-shown)+& {
    transform: translateX(-100%);
    color: var(--accent-color);
  }
}

.footer__form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__form-icon {
  fill: var(--subject-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer__form-link:hover &,
  .footer__form-link:focus & {
    fill: var(--subject-color);
  }
}

.footer__button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--subject-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: transparent;
  font-weight: 700;
  letter-spacing: 0.06em;
  gap: 10px;
}