.header__container {
  // display: flex;
  // align-items: center;
  background-color: var(--subject-color);
  border-bottom: 1px solid #ECECEC;
}

.header__navigation {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  // padding-top: 24px;
  // padding-bottom: 25px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo-studio {
  color: var(--logo-color);
}

.header__menu-open {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-color);
  }
}

// .header__nav {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.1429;
//   letter-spacing: 0.02em;
//   display: flex;
//   gap: 50px;
//   margin-left: 93px;
//   color: var(--accent-color);
//   & .current {
//     color: var(--accent-color);
//   }
// }

// .header__item .link {
//   padding: 32px 0;
//   position: relative;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .current::after {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   left: 0;
//   bottom: 0;
//   border-radius: 2px;
//   background-color: var(--accent-color);
//   display: flex;
//   align-items: flex-end;
//   justify-content: end;
// }

// .header__contacts {
//   display: flex;
//   align-items: center;
// }

// .header__contacts-soc .header__contacts-link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.1429;
//   letter-spacing: 0.02em;
//   color: var(--title-text-color);
//   fill: var(--title-text-color);
//   display: flex;
//   align-items: center;
//   flex-direction: row-reverse;
//   margin-left: 50px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//   }
// }

// .header__contacts-icon {
//   margin-right: 10px;
// }


/*......................Мобільне меню.................................*/

.header__mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--subject-color);
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}