.hero__container {
  padding: 0;
  display: flex;
  justify-content: center;
  max-width: none;
  @include desktop {
    // max-width: auto;
    margin: 0 auto;
    
  }
}

.hero__wrap {
  padding: 118px 60px;
  background-image: var(--background-image-color), url(../images/hero-480-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // max-width: 100%;
  @include retina {
      background-image: var(--background-image-color), url(../images/hero-480-2x.jpg);
  }

  @include tablet {
    background-image: var(--background-image-color), url(../images/hero-768-1x.jpg);
    padding: 118px 204px;
    @include retina {
      background-image: var(--background-image-color), url(../images/hero-768-2x.jpg);
    }
  }
  
  @include desktop {
    background-image: var(--background-image-color), url(../images/hero-1200-1x.jpg);
    padding: 200px 452px;
    background-size: cover;
    @include retina {
        background-image: var(--background-image-color), url(../images/hero-1200-2x.jpg);
      }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6154;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--subject-color);
  margin: 0 auto;
  margin-bottom: 30px;
  width: 360px;
  @include desktop {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636;
  }
}

.hero__title h1 {
  width: 360px;
  @include desktop {
    width: 696px;
  }
}

.hero__button {
  min-width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--subject-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--primary-text-color);
      background-color: var(--secondary-bg-color);
    }
}