.user__section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  display: block;
  justify-content: center;
  background-color: var(--secondary-bg-color);

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.heading {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 50px;
  }
}

.user__heading {
  @media screen and (max-width:1200px) {
    font-size: 28px;
    line-height: 1.1786;
  }
}

.user__list {
  gap: 30px;
  width: 100%;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  
    @include desktop {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
}

.user__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  
    @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.user__block {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--subject-color);
}

.user__image {
  display: block;
}

.user__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.user__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.user__soc-list,
.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.user__soc-item,
.footer__item {
  width: 44px;
  height: 44px;
}

.user__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}


.user__soc-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .user__soc-link:hover &,
  .user__soc-link:focus & {
    fill: var(--subject-color);
  }
}
